body{
    background-color:rgb(255, 227, 227);
    background-image: url('ImgSofá.jpg');
    background-repeat: repeat;
    background-position: left center ;
}

h1 {
    background-color: whitesmoke;
    color: red;
    max-width: 10%;
    text-align: center;
    border:2px solid #000000;
    }

    #coraçao{
        margin-right: 452px ;
    }

    #coração{
        margin-left:452px ;
    }    

    #descricao{
        background-color: whitesmoke;
        color: red;
        max-width: 115px;
        text-align: center;
        border:1px solid #000000;
    }

    a{
        color: aquamarine;
        text-decoration: none;
        font-size: 1.1em;
        margin-left: 5px;
    }

    a:hover{ 
        background-color: gray;
           
    }
    p { 
       background-color: rgba(0, 0, 0, 0.2);
       color:#fffff9 ;
}
#MeuRecado{
    margin-left: 5px;
    width: 260px;
    text-align: center;
    border: 1px solid gray;
    background-color: rgb(230 ,230 ,230 ) ;
    color: #020304;
}

button{ 
    margin-bottom: 20px;
    margin-left: 85px;
}
    
#Fotos{
    margin-top: 20px;
    height:300px ;
    border: 2px dashed hotpink;
}

li::marker {
    color:hsl(150,70%,60%);
}

li{
    color:rgb(220, 240,20);
    font-size: 1.2em;
}
 
u{
    color: rgb(240,0,200 );
}
